<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- COMMON TAGS -->
	<title>{{ .Title }}</title>
	<!-- Search Engine -->
	<meta name="description" content="{{ .Description }}">
	<meta name="image" content="{{ $.Param "image" }}">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="{{ .Title }}">
	<meta itemprop="description" content="{{ .Description }}">
	<meta itemprop="image" content="{{ $.Param "image" }}">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta name="og:title" content="{{ .Title }}">
	<meta name="og:description" content="{{ .Description }}">
	{{ if $.Param "image" }}<meta name="og:image" content="{{ .Site.BaseURL}}{{ $.Param "image" }}">{{ end }}
	<meta name="og:url" content="{{ .Permalink }}">
	<meta name="og:site_name" content="{{ .Title }}">
	<meta name="og:type" content="article">
	<!-- Open Graph - Article -->
	<meta name="article:tag" content="{{ range .Params.tags }}{{.}} {{end}}">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style{{ $.Site.Params.style }}.css">
	<!-- Google Analytics -->
	{{ template "_internal/google_analytics_async.html" . }}
	<!-- highlight.js -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

<div class="header">
	<a class = "title" href="{{ .Site.BaseURL }}" style="color:#555;">{{ $.Site.Title }}</a>
</div>
<div>
	<!-- Navigation Pages -->
	{{ range where .Site.RegularPages "Section" ""}}
                        {{ if and (ne .Title "License") (ne .Title "Home")}}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp; &nbsp;
                        {{ end }}
                    {{ end }}
	<!-- Draft Posts  -->
	{{ if .Draft }}
	<span style="color:crimson">DRAFT</span>
	{{ end }}
	<!-- Show RSS feed in the header -->
	<a href="{{ .Site.BaseURL }}index.xml" style="color:#e68a00;float: right;">RSS</a>
</div>
